@model Aplicacao_Kolping.Models.Alunos

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>


<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiadePagamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiadePagamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modalidades)
        </dt>
        @foreach (var modalidade in Model.Modalidades)
        {
            <dd>
                <b>@modalidade.Modalidade.Name</b>
            </dd>
            <dd>
                @modalidade.Modalidade.Descricao
            </dd>
        }

    </dl>
</div>
<div>
    <a asp-action="AdicionaPagamento" asp-route-id="@Model.ID">Novo Pagamento</a>
    <hr />
</div>
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Pagamentos)
        </dt>
        @foreach (var pagamento in Model.Pagamentos)
        {
            int numeropagamento = 1;
    <dd>
        <b>Pagamento numero @numeropagamento</b>
        <b>@pagamento.DataPagamento</b>
        <a asp-action="Deletar" asp-route-id="@pagamento.IdPagamento">Deletar Pagamento</a>
    </dd>
        }
    </dl>
</div>

<hr />
<hr />
<div>
    <a asp-action="Editar" asp-route-id="@Model.ID">Editar Aluno    |</a>
    <a asp-action="Index">|    Voltar para a lista</a>

    <hr />
</div>

