@model Aplicacao_Kolping.Models.Alunos

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiadePagamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiadePagamento)<p><p>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modalidades)
        </dt>
        @if (Model.ID >= 0)
        {
            double valorTotal = 0;
            @foreach (var modalidade in Model.Modalidades)
            {
                <dd>
                    <b>@modalidade.Modalidade.Name</b>
                </dd>
                <dd>
                    @modalidade.Modalidade.Descricao<p>
                </dd>
                valorTotal = valorTotal + modalidade.Modalidade.Preco;
            }
            <dt>
                Valor a ser Pago
            </dt>
            <dd>
                @valorTotal,00
            </dd>
        }

    </dl>
</div>
<div>
    @if (Model.ID >= 0)
    {
        <input type="hidden" id="@Model.ID" name="@Model.ID" value="@Model.ID">
        <a asp-action="Pagamento" asp-route-id="@Model.ID">Adicionar Pagamento</a>
        <hr />
    }
</div>
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Pagamentos):
        </dt>
    </dl>
    <p>
    <dl>
        @if (Model.ID >= 0)
        {
            int numeropagamento = 0;
            @foreach (var pagamento in Model.Pagamentos)
            {

                numeropagamento++;
                <dd>
                    <b>Pagamento numero @numeropagamento</b>
                </dd>
                <dd>
                    @pagamento.DataPagamento
                </dd>
                <dt>
                    <b>Valor do Pagamento: </b>
                </dt>
                <dd>
                    @pagamento.ValorPago,00
                </dd>
                <dt>
                    <b>Valor referente as aulas:</b>
                </dt>
                <dd>
                    @pagamento.AulasPagas
                </dd>
                <dd>
                    <input type="hidden" id="IdPagamento" name="IdPagamento" value="@Model.Pagamentos.LastOrDefault().IdPagamento">
                    <a asp-action="DeletaPagamento" asp-route-id="@pagamento.IdPagamento">Deletar Pagamento</a>
                    <hr />
                </dd>
            }
        }

    </dl>
</div>

<hr />
<hr />
<div>
    <a asp-action="Editar" asp-route-id="@Model.ID">Editar Aluno |</a>
    <a asp-action="Deletar" asp-route-id="@Model.ID">| Deletar |</a>
    <a asp-action="Index">| Voltar para a lista</a>

    <hr />
</div>

